* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    box-sizing: border-box;
}

body {
    /* margin: 0;
    padding: 0; */
    background-color: #272727;
}

.shell {
    /* background-color: salmon; */
    border: 2px solid #5d5d5d;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    height: 700px;
    width: 350px;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}
.print-out {
    /* flex: 1; */
    padding: 8%;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: salmon; */
}
.line {
    font-size: 20px;
    flex: 1;
    color: #9e9e9e;
    /* outline: 2px solid green; */
}
.line.right {
    text-align: end;
}
.input {
    /* flex-grow: 2; */
    font-size: 35px;
}
.input.left {
    color: #A2FFAA;
}
.num-pad {
    /* outline: 2px solid green; */
    /* flex: 1; */
    height: 50%;
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    background-color: #5d5d5d;
    padding: 8%;
}
.yellow {
    color: #FFEA5B;
}
.green {
    color: #A2FFAA;
}
.gray {
    color: #9e9e9e;
}
.keys {
    /* outline: 2px solid salmon; */
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    justify-items: center;
    /* grid-auto-rows: repeat(5, 1fr); */
}

.key {
    overflow: hidden;
}

.key:nth-child(17) {
    grid-column: -4;
}

.dark {
    background-color: #272727;
    color: #fff;
}
.light {
    background-color: #5d5d5d;
    color: #A2FFAA;
}
.accent {
    background-color: #A2FFAA;
    color: #272727;
}
#cursor {
    position: absolute;
    /* background-color: red; */
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px);
}
button {
    border: none;
    display:inline-block;
    width: 90%;
    font-size: 30px;
} 

button:hover {
    filter: drop-shadow(1px 1px 4px #3a3a3a);
    /* background-color: purple; */
}

button:active {
    background-color: #FFEA5B;
    color: #272727;
}

.non {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  